@charset "utf-8";
/* CSS Document */

#outer-div {
  width: 100%;
  text-align: center;
}

#inner-div {
  display: inline-block;
  margin: 0 auto;
}
.btn{
	width: 250px;
	height: 100px;
	text-align: left;
	padding: 0px;
}
#border {
  width: 300px;
  border: 15px solid #FD0004;
  padding: 50px;
  margin: 20px;
}
.logo{
height: 150px;
width: 500px;
align-self: center;
}
.name{
font-size: 90px;
align-content: center;
}